/* 
	Resets defualt browser settings
	reset.css
*/

#container {

	position:relative;
	z-index:0;
	background: url("../images/d-content-top-noline.png") repeat-y;
    margin: 0 auto;
    padding:0;
	width:970px;
}

#example {
    background: url("../images/n-slider-shadow.png") no-repeat center bottom;
    height: 350px;
    margin: 0 14px;
    position: relative;
    width: 942px;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:942px;
	height:341px;
	top:-3px;
	left:-80px;
}

#slides {
	position:absolute;
	top:6px;
	left:4px;
	z-index:100;
}

#slides .prev {
	position:absolute;
	top:127px;
	left:-45px;
	width:32px;
	height:58px;
	display:block;
	z-index:101;
	background:url('../images/n-prev-arrow.png') no-repeat;
}
#slides .prev:hover {
	background-position:0 -58px;
}
#slides .next{
	position:absolute;
	top:127px;
	left:949px;
	width:32px;
	height:58px;
	display:block;
	z-index:101;
	background:url('../images/n-next-arrow.png') no-repeat;
}
#slides .next:hover{
	background-position:0 -58px;
}
.slides_container {
	width:936px;
	height:325px;
	overflow:hidden;
	position:relative;
	
}
#inside-shadow{
	background:url('../images/n-slider-inside-shadow.png') no-repeat left top;
	width:943px;
	height:325px;
	position:absolute;
	z-index:300;
}

.pagination {
	margin:26px auto 0;
	width:100px;
	display:none;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:-42px;
	left:0;
	height:40px;
	padding:13px 20px 0 20px;
	background:url('../images/n-capiton.png');
	width:895px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
.caption p a{
	color:#fff;
	font:19px Tahoma;
}